.create-event{
    display: flex;
    height: 100%;

    & .timeline{
        display: flex;
        flex-direction: column;
        & .timeline-item{
            position: relative;
            padding:16px;
            padding-left: 40px;
            & p{
                margin:0;
                &:first-child{
                    font-size: 16px;
                }
                &:nth-child(2){
                    font-size: 14px;
                    font-weight: 400;
                }
            }
            &.selected{
                background: rgba(235, 93, 36, 0.20);
                 &:first-child{
                    font-weight: 500;
                }
                &:before{
                    border-color: var(--accent-orange);
                }
                &:after{
                    content:"";
                    position: absolute;
                    width: 10px;
                    height: 10px;
                    border-radius: 3px;
                    background:  var(--accent-orange);
                    left: 17px;
                    top: 23px;
                }
            }
            &:before{
                content:"";
                position: absolute;
                width: 16px;
                height: 16px;
                border-radius: 5px;
                border: 1px solid #767676;
                left: 14px;
                top: 20px;
            }
        }
    }
    & .ticket-preview{
        padding: 0 24px;
    }
}