.login {
  min-height: 100dvh;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba($color: var(--accent-orange-rgb), $alpha: 0.33) ;
  & .mantine-InputWrapper-error{
  position: absolute;
  }
  & .left {
    display: none;
  }

  & .right {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 24px;
    background-color: #fff;
    height: fit-content;
    margin: 0 auto;
    width: 100%;

    & h1 {
      font-size: 24px;
      font-weight: 500;
      text-align: center;
      margin: 40px 0 0;
      max-width: 300px;
    }

    & .login-form {
      width: 100%;
      max-width: 320px;
      display: flex;
      flex-direction: column;
      gap: 24px;
      margin-top: 20px;

      & .general-error{
        color: red;
        font-size: 16px;
        text-align: center;
      }
      & .error{
        color: red;
        font-size: 12px;
      }
      & .input-text {
        width: 100%;
      }
    }

    & .forgotPassword {
      align-self: end;
      font-size: 14px;
      font-weight: 400;
      max-width: 320px;
      text-align: end;
      margin: 0;
      color: #667;
      &::after {
        background-color: #667;
      }
    }

    & .login-button {
      width: 186px;
      max-width: 320px;
      height: 40px;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 20px;
      margin: auto;
    }
    & .register-button {
      margin-top: 8px;
      width: fit-content;
      margin: auto;
    }
    & .login-separator {
      margin-top: 24px;
      font-size: 14px;
      font-weight: 300;
      position: relative;
      width: fit-content;
      margin: auto;
      &::after,
      &::before {
        content: "";
        width: 1px;
        height: 16px;
        background-color: #d0d0d0;
        display: inline-block;
        top: 50%;
        position: absolute;
        transform: translateY(-50%) rotate(90deg);
      }
      &::before{
        left: -20px;
      }
      &::after{
        right: -20px;
      }
    }
    & .login-social-buttons {
      display: flex;
      align-items: center;
      gap: 16px;
      & .social-login-button{
        background-color: transparent;
        margin: auto;
        & img{
          width: 40px;
          height: 40px;
          border-radius: 50%;
        }
      }
    }

  }

  @media (min-width: 640px) {
    & .right {
      padding: 32px;
      & h1 {
        font-size: 28px;
        max-width: 400px;
      }

    }
  }

  @media (min-width: 1024px) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: #fff;
    & .left {
      display: flex; // Mostra il logo
      align-items: center;
      justify-content: center;
      background-color: rgba($color: var(--accent-orange-rgb), $alpha: 0.33) ;
      height: 100%;

      & img {
        width: 250px;
      }
    }

    & .right {
      justify-content: center;
      padding: 80px;
      & h1 {
        font-size: 32px;
        margin-bottom: 20px;
        max-width: 500px;
      }

      & .login-form {
        max-width: 450px;
        gap: 24px;      
      }

      & .forgotPassword {
        max-width: 450px;
        margin-right: 0;
        justify-content: end;
        max-width: 450px;
      }

      & .login-button {
        width: 290px;
        margin-top: 20px;
      }
      & .register-button {
        margin-top: 16px;
      }
    }
  }
}
